html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

/* common */
* {
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important;
	padding: 0px;
	margin: 0px;
}

a,
button{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    cursor: pointer !important;
}

p{font-weight: 300;}
p.light{color: #888;}
p a{color: #00a3b6;}

ul{list-style-type: none;}

.image_container img{
    display: block;
    width: 100%;
}

/*  header */

nav{
    background-color: #fff;
    height: 80px;
}

a.logo{
    display: block;
    padding: 0px;
    margin: 15px;
}

a.logo img{
    display: block;
    height: 100%;
}

ul.navbar-nav{margin-top: 20px;}
ul.navbar-nav li{margin-right: 15px;}

ul.navbar-nav li.active a,
ul.navbar-nav li a:focus,
ul.navbar-nav li a:hover{background-color: transparent;}

ul.navbar-nav li.active a,
ul.navbar-nav li a:hover{
    border-bottom: 2px solid #00a3b6;
    background-color: transparent;
}

ul.navbar-nav li a{
    padding: 10px 15px !important;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 14px;
    color: #00a3b6;
}

ul.navbar-nav li a:hover{
    text-transform: uppercase;
    font-size: 14px;
    color: #00a3b6;
}

ul.navbar-nav li.menu_btn a{
    border-bottom: 0px !important;
    padding: 10px 25px !important;
    background-color: #00a3b6;
    color: #fff;
}

ul.navbar-nav li.menu_btn.active a,
ul.navbar-nav li.menu_btn a:hover{background-color: #3b4150;}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    color: #00a3b6;
    padding: 10px;
    border: none;
}

.nav li > form > button.logout:hover {
    border-bottom: 2px solid red;
    color: red;
}

button.navbar-toggle{
    background-color: #00a3b6;
    margin-top: 15px;
    height: 50px;
    width: 50px;
}

.navbar-toggle .icon-bar{
    background-color: #fff;
    margin-left: 3px;
}

button.navbar-toggle:hover{background-color: #4c5363;}

/* breadcrumb */

ul.breadcrumb {margin-bottom: 30px;}
ul.breadcrumb li a{color: #00a3b6;}

.wrap {
    margin: 0 auto -60px;
    padding: 0 0 60px;
    min-height: 100%;
    height: auto;
}

.wrap > .container {padding: 90px 15px 20px;}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    height: 60px;
}

/* forms */

div.site-signup,
div.site-login{
    padding: 20px 0 0 0;
    max-width: 600px;
    margin: 0 auto;
}

form div.form-group button{margin-top: 15px;}

/* apps */
span.filter_title{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 16px;
    display: block;
    color: #444;
}

span.filter_title span{
	display: none;
	float: right;
}

.filters {overflow: hidden;}

.filters p{
	margin: 10px 0;
	font-size: 15px;
	color: #444;
}

.filters ul li{margin-bottom: 10px;}

.filters a {
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #ccc;
	text-overflow: ellipsis;
	text-decoration: none;
	display: inline-block;
	font-weight: lighter;
	white-space: nowrap;
	border-radius: 50px;
	padding: 5px 15px;
	font-size: 15px;
	color: #999;
}

.filters a:hover,
.filters a.current {
	border: 1px solid #4c5363 !important;
	background: #4c5363 !important;
	color: #fff;
}

div.appsContainer a.app{
    border: 1px solid #ddd;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.appsContainer a.app:nth-child(3n+1),
div.appsContainer a.app:nth-child(3n+2){margin-right: 2%;}

div.appsContainer a.app:hover{
    background-color: rgba(0,163,182, 0.3);
    border-color: rgba(0,163,182, 0.6);
}

div.appsContainer a.app:hover *{color: #666 !important;}

div.appsContainer a.app h2{
    font-size: 20px;
    margin-top: 5px;
    color: #00a3b6;
}

div.appsContainer a.app p{color: #888;}

div.appsContainer a.app div.image_container{height: 40px;}

div.appsContainer a.app div.image_container img{
    display: block;
    height: 100%;
    width: auto;
}

ul.tags_list{margin-top: 30px;}

ul.tags_list li{
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #4c5363;
    background-color: #4c5363;
    text-decoration: none;
    display: inline-block;
    font-weight: lighter;
    border-radius: 50px;
    margin-right: 5px;
    padding: 5px 15px;
    font-size: 15px;
	color: #fff;
}

div.connections{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    margin: 20px 0;
}



















.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}



@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
